canvas {
    
    border: 2px black solid;
}
#high {
    margin-left: 5%;
}
span {
    font-weight: 600;
    font-family:  Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}
button{
    position: absolute;
    width: 5%;
    height: 5%;
    left: 5%;
    top: 50%;
    background-color: lavender;
}
h1 {
    position: absolute;
    width: 12%;
    left: 2%;
    top: 30%; 
    font-family:  Calibri, 'Trebuchet MS', sans-serif;
    
}